*~
*.swp
*.log
*.tmp
*.pyc
*.svn
*.sublime-project
*.sublime-workspace
coverage.html
.DS_Store
.editorconfig
.project
.gitignore
.jshintrc
.nodemonignore
.travis.yml
gruntfile.js
.settings/
.sass-cache/
.bower-*/
.idea/
.svn/
node_modules/
tmp/
test/
build/
docs/
.github/
src/
typedoc.json
tsconfig.json
.eslintrc.json
jest.config.js
*.ts
jest.config.js
package-lock.json